<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo List</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	${#locale.language}=<span th:text="${#locale.language}"></span>
	<form th:action="@{/}" method="post" th:object="${todoQuery}">
		<div style="display:flex">
			<table border="1">
				<tr>
					<th>件名</th>
					<th>重要度</th>
					<th>緊急度</th>
					<th>期限</th>
					<th>完了</th>
				</tr>
				<tr>
					<td>
						<input type="text" name="title" size="40" th:value="*{title}" />
					</td>
					<td>
						<select th:field="*{importance}">
							<option value="-1">-</option>
							<option value="1">高</option>
							<option value="0">低</option>
						</select>
					</td>
					<td>
						<select th:field="*{urgency}">
							<option value="-1">-</option>
							<option value="1">高</option>
							<option value="0">低</option>
						</select>
					</td>
					<td>
						<input type="text" name="deadlineFrom" th:value="*{deadlineFrom}" size="10" placeholder="yyyy-mm-dd" />
						~
						<input type="text" name="deadlineTo" th:value="*{deadlineTo}" size="10" placeholder="yyyy-mm-dd" />
					</td>
					<td>
						<input type="checkbox" th:field="*{done}" value="Y" />完了
					</td>
				</tr>
			</table>
			<button type="submit" th:formaction="@{/todo/query}">検索</button>
		</div>

		<div th:if="${#fields.hasErrors('deadlineFrom')}" th:errors="*{deadlineFrom}" th:errorclass="red"></div>
		<div th:if="${#fields.hasErrors('deadlineTo')}" th:errors="*{deadlineTo}" th:errorclass="red"></div>

		<hr>
		<button type="submit" th:formaction="@{/todo/create/form}">新規追加</button>
	</form>
	
	<form method="post" th:action="@{/todo/deleteChecked}">
	<table border="1">
			<tr>
				<th>id</th>
				<th>件名</th>
				<th>重要度</th>
				<th>緊急度</th>
				<th>期限</th>
				<th>完了</th>
				<th>一括削除</th>
			</tr>
			<tr th:each="todo : ${todoList}">
				<td th:text="${todo.id}"></td>
				<td><a th:href="@{'/todo/' + ${todo.id}}" th:text="${todo.title}"></a></td>
				<td th:text="${todo.importance == 1 ? '★★★' : '★'}"></td>
				<td th:text="${todo.urgency == 1 ? '★★★' : '★'}"></td>
				<td th:text="${todo.deadline}"></td>
				<td th:text="${todo.done == 'Y' ? '完了' : ''}"></td>
				<td><input type="checkbox" name="ids" th:value="${todo.id}" /></td>
			</tr>
		</table>		
				<button type="submit" onclick="return confirm('選択したToDoを削除してもよろしいですか？')">削除</button>
	</form>
	
	<div th:if="${todoPage != null}">
  		<span th:if="${todoPage.totalElements > 0}"
   		     th:text="|${todoPage.number + 1} / ${todoPage.totalPages} ページを表示中|">
 		 </span>
		  <span th:if="${todoPage.totalElements == 0}">
 			   データがありません。
 		 </span>
		<ul id="nav" th:if="${todoPage.totalPages > 0}">
			<li>
				<span th:if="${todoPage.first}">←前</span>
				<a th:unless="${todoPage.first}" th:href="@{/todo/query(page=${todoPage.number - 1})}">←前</a>
			</li>
			<li th:each="i : ${#numbers.sequence(0, todoPage.totalPages - 1)}">
				<span th:if="${i == todoPage.number}" th:text="${i + 1}"></span>
				<a th:if="${i != todoPage.number}" th:href="@{/todo/query(page=${i})}" th:text="${i + 1}"></a>
			</li>
			<li>
				<span th:if="${todoPage.last}">次→</span>
				<a th:unless="${todoPage.last}" th:href="@{/todo/query(page=${todoPage.number + 1})}">次→</a>
			</li>
		</ul>
	</div>
</body>
</html>